set -a


export PYTHONPATH=$PYTHONPATH:$(pwd)

# Model training parameters
export TRAIN_EPOCHS=3
export TRAIN_HIDDEN_LAYERS=2
export TRAIN_WARM_START_PATH="./model/model.h5"

# Model inference parameters
export RUN_GAME_ITERATIONS=10
